$dirty-green: rgb(60, 92, 60);

* {
  font-family: Arial;
}

.btn {
  background-color: white;
  border-radius: 8px;
  border: 2px solid $dirty-green;
  color: $dirty-green;
  padding: 14px 28px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
